/* базовые стили */
body {
	min-width: 320px
	font-size: 14px;
	font-family: 'Playfair Display', serif;
	color: #626262;
}
/* для адаптивности картинок */
img {
	max-width: 100%;
	height: auto;
}
a {
	color: #b4ad9e;
}
a:hover {
	color: #898377;
}
p {
	line-height: 1.5rem;
}
h2, h3 {
	margin: 1rem 0;
	font-size: 30px;
}

/* стилизация navbar */

header .navbar-light {
	background-color: #fff;
	padding: 2rem 0 1rem 0;
}
header .navbar-brand {
	font-family: 'Inconsolata', monospace;
	font-size: 30px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 6px;
}
header .nav-item {
	text-transform: uppercase;
	margin-left: 80px;
}
header .nav-item a::after {
	content: '';
	display: block;
	width: 100%;
	background-color: #ccc;
	height: 1px;
	transform: scale(0);
	transition: all .3s;
}
header .nav-item a:hover::after {
	transform: scale(1);
}
.img-wrap {
	padding-bottom: 4rem;
}
.slider {
	margin-bottom: 100px;
}

.post-category,
.link-more {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color: #b4ad9e;
	text-transform: uppercase;
	font-weight: 300;
}
p {
	margin-bottom: 3rem;
}
.post-title a {
	color: #626262;
}
.post-title {
	margin-bottom: 2rem;
}

.grid-posts {
	margin-top: 100px;
	margin-bottom: 100px;
}
.grid-posts .card {
	border: 0;
	margin-bottom: 100px;
}
.grid-posts .card-body {
	padding-left: 0;
	padding-right: 0;
}
/* для выравнивания высоты картинок */
.grid-posts .card-img-top {
	max-height: 350px;
	border-radius: 0;
}

.load-more {
	padding: 1rem 2rem;
	border-color: #626262;
	border-radius: 0; 
}
.load-more span {
	display: none;
}

.signup {
	background-color: #f0f0f0;
	padding: 70px 0;
}
.signup h3 {
	color: #333;
}
.signup form {
	margin-top: 70px;
}

.signup .form-input {
	position: relative;
}
.signup .form-control {
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid #000;
	background-color: transparent;
}
.signup .form-control:focus,
.form-input .btn:focus {
	box-shadow: none;
}
.form-input .btn {
	position: absolute;
	right: 0;
	top: -5px;
	font-size: 25px;
}

footer {
	background-color: #f0f0f0;
	padding: 40px 0;
	color: #000;
}
.footer-left a {
	color: #000;
	margin-right: 20px;
}
.footer-right a {
	color: #626262;
	margin-left: 20px;
}



/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width : 1199.98px) {
	.grid-posts .card-img-top {
		max-height: 300px;
	}
}

/* medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

@media (max-width: 991.98px) {
	.grid-posts .card-img-top {
		min-height: 240px;
	}
	header .nav-item {
		margin-left: 0;
	}
	
}


@media only screen and (max-width: 767.98px) {
	.grid-posts {
		margin-top: 50px;
		margin-bottom: 50px;	
	}
	.grid-posts .card {
		margin-bottom: 50px;
	}
	.grid-posts .card-img-top {
		max-height: 100%;
	}
}

@media only screen and (max-width: 576px) {

}
@media only screen and (max-width: 575.98px) {
	.footer-left {
		margin-bottom: 10px;
	}
}




/* post */

.sidebar-post {
	margin-top: 1.3rem;
}
.sidebar-post .card {
	border: 0;
	border-radius: none;
}
.sidebar-post .card-body {
	padding-left: 0;
}
.sidebar-post .card-title {
	color: #626262;
}
.sidebar-post .card-text {
	font-size: 13px;
	margin-bottom: 1rem;
}
.sidebar-right a {
	/*font-size: 17px;*/
	margin-right: 15px;
}


